ion-title {
  padding: 10px;
  height: 100px;
  text-align: center;
  font-family: "Mali", cursive;
  font-family: "Pacifico", cursive;
}

body {
  font-family: "Mali", cursive;
  font-family: "Pacifico", cursive;
}

span {
  font-family: "Mali", cursive;
  font-family: "Pacifico", cursive;
}
