@font-face {
   font-family: 'Mali', cursive;
   src: url('/Mali,Pacifico/Mali/Mali-Medium.ttf');
   font-weight: 300;
   font-style: normal;
 }

 @font-face {
   font-family: 'Pacifico', cursive;
   src: url('/Mali,Pacifico/Pacifico/Pacifico-Regular.ttf');
   font-weight: 400;
   font-style: normal;
 }